.grid-noticias {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5%;
    padding: 3%;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}
